{% extends "base.html" %}
{% block content %}

<div class="row">
    <div class="col-md-9">
        <h2 class="title">Mediterranean Food</h2>
        <p class="description">Join us in a gastronomic journey discovering the best recipes of the Mediterranean countries. Mediterranean Flavours will be a place for sharing recipes and tips to make us all enjoy such a rich gastronomy and improve our culinary skills. 
            Mediterranean gastronomy extends from Gibraltar to the Bosphorus, down the Rhone Valley, through the great seaports of Marseilles, Barcelona, and
        Genoa, across to Tunis and Alexandria, embracing all the Mediterranean islands, Corsica, Sicily, Sardinia,
        Crete, the Cyclades, Cyprus (where the Byzantine influence begins to be felt), to the mainland of Greece and the
        much disputed territories of Syria, the Lebanon, Constantinople, and Smyrna.</p>
  </div>
</div>

    <h2>{{ page_title }}</h2>
    {% for member in company %}

    <div class="row featurette">

        {% if loop.index % 2 != 0 %}

            <div class="col-md-7">
                <h3><a href="/about/{{ member.url }}">{{ loop.index }}. {{ member.name }}</a></h3>
                <p> {{ member.description }}</p>
            </div>
            <div class="col-md-5">
                <img src="{{ member.image_source }}" alt="Member picture" class="featurette-image image-responsive">
            </div>

        {% else %}

        <div class="col-md-5">
            <img src="{{ member.image_source }}" alt="Member picture" class="featurette-image image-responsive">
        </div>
        <div class="col-md-7">
            <h3><a href="/about/{{ member.url }}">{{ loop.index }}. {{ member.name }}</a></h3>
            <p> {{ member.description }}</p>
        </div>

        {% endif %}

    </div>

    {% if loop.index != 13 %}

        <hr class="featurette-divider">

    {% endif %}

    {% endfor %}
{% endblock %}