{% extends "base.html" %}
{% block content %}





<div class="row card">


<form id="register" method="POST" action="{{ url_for('register') }}">
    <h3 class="title">Register</h3>
    <div class="mb-3">
        <i class="fas fa-user-plus"></i> 
        <input id="username" name="username" type="text" class="validate">
        <label for="password">Username</label>
    </div>
    <div class="mb-3">
        <i class="fas fa-user-lock"></i>
        <input id="password" name="password" type="password" minlength="5"
        maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
        <label for="password">Password</label>
    </div>
    <button type="submit" class="btn btn-danger">
        Register <i class="fas fa-sign-in-alt"></i>
    </button>
    <div class="mb-3">
        <p class="description">
            Already Register?? <a href="{{ url_for('login') }}" class="subtitle">Log In</a>
        </p>
    </div>
  </form>
</div>
               
{% endblock %}